<h1 class="h1">Leads</h1>
<!--<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between stretch" class="leads">-->
<div>
<!--  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1" fxFlex="100%" fxFlex.gt-sm="66%">-->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let lead"> {{lead.firstname}}</td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let lead"> {{lead.lastname}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let lead"> {{lead.email}}</td>
    </ng-container>

    <ng-container matColumnDef="mobilephone">
      <th mat-header-cell *matHeaderCellDef> Mobile </th>
      <td mat-cell *matCellDef="let lead"> {{lead.mobilephone}}</td>
    </ng-container>

    <ng-container matColumnDef="postalcode">
      <th mat-header-cell *matHeaderCellDef> Zipcode </th>
      <td mat-cell *matCellDef="let lead"> {{lead.postalcode}}</td>
    </ng-container>
<!--    <ng-container matColumnDef="edit">-->
<!--      <th mat-header-cell *matHeaderCellDef></th>-->
<!--      <td mat-cell *matCellDef="let lead">-->
<!--        <button mat-icon-button (click)="editLead(lead)">-->
<!--          <mat-icon>edit</mat-icon>-->
<!--        </button>-->
<!--      </td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="delete">-->
<!--      <th mat-header-cell *matHeaderCellDef></th>-->
<!--      <td mat-cell *matCellDef="let lead">-->
<!--        <button mat-icon-button (click)="deleteLead(lead)">-->
<!--          <mat-icon>delete</mat-icon>-->
<!--        </button>-->
<!--      </td>-->
<!--    </ng-container>-->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>
  <mat-divider [vertical]="true" fxShow="false" fxShow.gt-sm="66%"></mat-divider>

</div>

